.login {
    display: flex;

    &-content {
        margin: 0 auto;

        .card {
            transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
            display: block;
            position: relative;
            padding: 16px;
            border-radius: 4px;
        }

        .box {
            box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
            background: #fff;
            color: rgba(0,0,0,.87);
            font-family: Roboto,Helvetica Neue,sans-serif;
            margin: {
                top: 200px
            };
            // max-width: 380px;
            min-width: 400px;


            .header {
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                box-sizing: border-box;
                display: block;
                text-align: center!important;
            }

            .form {
                margin: {
                    top: 8px;
                };

                .input {
                    margin: {
                        bottom: 8px;
                    };  

                    &:not(:first-child) {
                        margin: {
                            top: 8px;
                        };
                    }
                }
            }
        }
    }
}